
.card-cont{
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    margin: 15px;
    margin-left: 100px;
}

.card-cont:hover{  
   background-color: pink;
   cursor: pointer;
 }

.card--imgs{
    width: 200px;
}

.brand--name{
    color: green;
    padding-top: 15px;
}

.icon--btn{
    
    border: none;
    background-color: transparent;
    margin-left: 25px;
    
}
