.nav--container{
    display:  flex;
    justify-content: space-around;
    background-color: #89B042;
    color: white;
}
.logoimg{
    margin-top: 6px;
    margin-right: 3px;
    width: 25px;
    height: 25px;
}
.nav--brand--name{
    display: flex;
    color: white;
    padding-top: 10px;
    
}
.brand--menu{
    padding-top: 15px;


}

.brand--menu>a{
    padding-left: 30px;
    color: white;
    font-weight: 700;
    

}

.brand--menu>a:link{
    color: white;
    text-decoration: none;
}

.brand--menu>a:visited{
    color: white;
}
.brand--menu>a:hover{
    color: pink;
}

.brand--search{
    margin-top: 7px;
}
.shopping-cart{
    width: 35px;
    margin-top: 10px;
}